

.side-nav {
    width: 223px;
    height: 620px;
    background: #03123B;

    color: #fff;
    
    position: fixed;
    left: 0;
    top: 12vh;

  }
  
  .side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav_icon{
    vertical-align: middle;
    margin-right: 12px;
    size: 200px;
    
    
  }

  .list{
    margin: 5% ;
    background: #03123B;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .nav_icon2{
    vertical-align: middle;
    
    margin-left: auto;
    size: 200px;
    flex: 30%;
    place-items: end;
    
  }
  
  .list:hover{
    background: #CB1A80;

  }
  
  @media (min-width: 750px) and (max-width: 2500px){
    .side-nav{
      width: 280px;
    }
  }

  

   @media (max-width: 650px){
    .side-nav{
      width: 150px;
    }

    .list{
        margin:2%;
        font-size: 9px;
      

    }

    .nav_icon{
     display: none;
    }
   }