.film_page{
    background: #03123D;  
    width: 81.7%;
    height: 75vh;    
    margin-left: 18.25vw;
    margin-bottom: 1.4%; 
    margin-right: 0vw;
    
}


.film_nav{
    height: 6%;
    padding: 2%;
    display: flex;
    justify-content: space-between; 
      
}

.icon:hover{
    /* background-color: azure; */

}

.bt{
    border: 1px solid;
    border-radius: 5px;
    width:5%;
    cursor: pointer;
}

.card_ar{
    background-color: bisque;
    height: 94%;
}